#root {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color-scheme: normal;
  color: black;
  font-size: 14px;
  background: #fff;
  margin: 0;
  background-image: linear-gradient(#cacaca 1px, transparent 1px),
    linear-gradient(to right, #cacaca 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}
